.title-create {
    padding-bottom: 10px;
}
.block-create {
    display: flex;
    flex-direction:column;
    align-items: center;
}
.form-create {
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    form {
        margin: 15px;
    }
    &__input {
        outline:none;
        padding: 10px;
        button {
            background-color: #a2a6f4;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }
        button:hover {
            color: #fff;
            background-color: #888ef3;
        }
    }
    &__input:last-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    input {
        width: 100%;
        padding: 10px;
        margin: 15px 10px 0 0px;
        background: none;
        border: 2px solid #1c1c21;
        border-radius: 50px;
        box-sizing: border-box;
        font-size: 20px;
        color: #000000;
        outline: none;
        cursor: pointer;
    }
    &__input:active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
}


// для формы авторизации 
.button-create {
    background-color: #a2a6f4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 120px;
    font-size: 18px;
    color: #ffff;
    cursor: pointer;
    &:hover {
        background-color: #6970f9;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 120px;
        font-size: 18px;
        color: #ffff;
        cursor: pointer;
    }
    &:active {
        background-color: #6970f9;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 120px;
        font-size: 18px;
        color: #ffff;
        cursor: pointer;
    }
}
.link-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}